@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dark1 {
    color: rgba(19, 19, 19, 1);
}

.title {
    margin-top: 8px;
    margin-left: 120px;
    font-size: 3rem;
    font-weight: bold;
}

.head {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark2 {
    color: rgba(66, 66, 66, 1);
}

.dark3 {
    color: rgba(114, 114, 114, 1);
}

/* nav style */
.nab-bar {
    justify-content: space-between;
}

.displayS {
    display: flex;
}

.nav-link {
    text-decoration: none;
}

.nav-items {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500px;
}

.nav-bar,
.banner {
    max-width: auto;
    margin: 0, auto;
}

.banner-info {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-image {
    width: 100%;
}

.btn-prime {
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.25rem;
    font-weight: 800px;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 576px) {

    .nav-bar,
    .nav-links {
        flex-direction: column;
    }
}

/* main part with team */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-section {
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;

}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    margin-left: 130px;
    max-width: 535px;
    max-height: 300px;
}

.features-info {
    padding-bottom: 1.3rem;
}

.features-tag {
    font-size: 45px;
    font-weight: 400px;
}

.features-tag2 {
    color: rgba(255, 144, 14, 1);
    font-size: 45px;
    font-weight: bold;
}

.features-tag1 {
    font-size: 45px;
    font-weight: bold;
}