@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dark1 {
    color: rgba(19, 19, 19, 1);
}

.title {
    margin-top: 8px;
    margin-left: 120px;
    font-size: 3rem;
    font-weight: bold;
}

.head {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark2 {
    color: rgba(66, 66, 66, 1);
}

.dark3 {
    color: rgba(114, 114, 114, 1);
}

.fontsize {
    font-size: 2.8rem;
    font-weight: bold;
}

.fontsize1 {
    font-size: 1rem;
    font-weight: 400px;
}

.fontsize2 {
    font-size: 1.3rem;
    font-weight: 600px;
}

.text-description {
    max-width: 540px;
}


/* nav style */
.nab-bar {
    justify-content: space-between;
}

.displayS {
    display: flex;
}

.nav-link {
    text-decoration: none;
}

.nav-items {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500px;
}

.nav-bar,
.banner {
    max-width: auto;
    margin: 0, auto;
}

.banner-info {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-image {
    width: 100%;
}

.btn-prime {
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.25rem;
    font-weight: 800px;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    color: rgba(255, 255, 255, 1);
}

/* main part with team */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-section {
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;

}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    margin-left: 130px;
    max-width: 535px;
    max-height: 300px;
}

.features-info {
    padding-bottom: 1.3rem;
}

.features-tag {
    font-size: 45px;
    font-weight: 400px;
}

.features-tag2 {
    color: rgba(255, 144, 14, 1);
    font-size: 45px;
    font-weight: bold;
}

.features-tag1 {
    font-size: 45px;
    font-weight: bold;
}

/* Features love and joy */

.about-items {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 30px;
}

#side-color {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding: 21px;
}

.about-btn {
    font-size: 1.5rem;
    font-weight: 500px;
    font-weight: bold;
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -77px;
}

.about-year {
    font-size: 4rem;
    font-weight: 700px;
}

.about {
    gap: 146px;
    margin-top: 130px;
}

/* Facts */

.facts-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;

}

.facts-item {
    width: 180px;
    height: 150px;
    padding: 46px 60px 36px 37px;
    border-radius: 8px;
    border: 2px solid rgba(255, 144, 14, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/* Sponsors */

.sponsor-title {
    max-width: 540px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sponsor-info {
    margin-top: -40px;
}

.sponsor-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

/* Footer */

footer {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-section {
    background-color: rgba(255, 244, 231, 1);
    margin-top: 120px;
    margin-bottom: 220px;
    border-radius: 8px;
}

.footer-info {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* media query */
@media screen and (max-width: 576px) {

    .nav-bar,
    .nav-links {
        flex-direction: column;
    }

    /* team */
    .team-section,
    .team-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    /* features  */
    .about {
        display: grid;

    }

    .about-btn {
        font-size: 1.5rem;
        font-weight: 500px;
        font-weight: bold;
        padding: 45px 42px;
        margin-left: 25%;
        margin-top: 0px;
    }

    .about-year {
        font-size: 4rem;
        font-weight: 700px;
    }

    /* facets */

    .facts-items,
    .sponsor-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 20px;
    }
}

/* Adding media query for medium device*/

@media screen and (min-width: 576px) and (max-width: 976px) {

    .nav-bar,
    .nav-links {
        flex-direction: column;
    }

    /* team */
    .team-section,
    .team-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* features  */
    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }

    .about-btn {
        font-size: 1.5rem;
        font-weight: 500px;
        font-weight: bold;
        padding: 45px 42px;
        margin-left: 25%;
        margin-top: 0px;
    }

    .about-year {
        font-size: 4rem;
        font-weight: 700px;
    }

    /* facets */

    .facts-items,
    .sponsor-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 20px;
    }
}